<!do<!doctype html>
<html>
    <head>
        <!--jquery-->
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"
                integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

        <!--font-->
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

        <!--bootstrap-->
{#        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"#}
{#              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}

        <link href="/static/bootstrap.min.js">
        <link href="/static/bootstrap.min.css">
        <!--local styling-->
        <link rel="stylesheet" href="/static/stylesheet.css">
        <title>Twittiocy!</title>

    </head>
    <body>
        {%  block body %}
            Body goes here
        {% endblock %}

            <script src="/static/twittiocy.js"></script>
    </body>
</html>